{% extends 'page_jeu.twig' %}

{% block contenu %}
    <link rel="stylesheet" type="text/css" href="{{ HTTPS }}{{ URL }}style.css">
    <div class="container-fluid">
        {% if ISAUTH %}
            {% if COMPTE.compt_hibernation == 'O' %}
                {#
                On est en hibernation
                #}
                <div class="bordiv">
                    Votre compte est en hibernation jusqu’au {{ COMPTE.compt_dfin_hiber|date('d/m/Y H:i:s') }}.<br/>
                    Vous ne pouvez pas vous connecter d’ici là.
                </div>
            {% else %}

                {% if PERSOS_ACTIFS|length == 0 %}
                    <div class="bordiv">
                        <p>Aucun joueur dirigé.</p>
                        <a href="cree_perso_compte.php">Créer un nouveau personnage !</a>
                    </div>
                {% else %}

                    <form name="login" method="post" action="validation_login3.php">
                        <input type="hidden" name="perso">
                        <input type="hidden" name="activeTout" value="0">
                    </form>
                    <div class="groupdiv_nopadding row">
                        <div class="titre">Joueurs</div>

                        {% for PERSO in PERSOS_JOUEURS %}
                            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                {% include 'blocks/_single_perso_switch.twig' %}
                            </div>
                        {% endfor %}

                        <div>
                                        <span class='bouton'><input type="button" class="bouton"
                                                                    onClick="javascript:window.open('{{ HTTPS }}{{ URL }}visu_derniers_evt.php?visu_perso={{ PREMIER_PERSO }}&is_log={{ IS_LOG }}&voir_tous=1','evenements','scrollbars=yes,resizable=yes,width=500,height=300');"
                                                                    title="Voir les derniers événements de tous les personnages"
                                                                    value="Voir tous les événements"
                                                                    style="width:200px;"/></span>&nbsp;&nbsp;
                            <span class='bouton'><input type='button' class='bouton'
                                                        onClick='javascript:document.login.perso.value={{ PREMIER_PERSO }}; document.login.activeTout.value=1; document.login.submit();'
                                                        title='Activer toutes les DLT'
                                                        value='Activer toutes les DLT'
                                                        style='width:200px;'/></span>
                        </div>
                    </div>
                    {% if FAMILIERS|length > 0 %}
                        <div class="groupdiv_nopadding row">
                            <div class="titre">Familiers</div>
                            {% for PERSO in FAMILIERS %}
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    {% include 'blocks/_single_perso_switch.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if OK_4 %}
                        <div class="bordiv row">
                            <div class="titre">Quatrième</div>

                            {% for PERSO in PERSOS_QUATRIEME %}
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    {% include 'blocks/_single_perso_switch.twig' %}
                                </div>
                            {% endfor %}

                        </div>
                    {% endif %}
                    {% if PERSOS_SITTES|length > 0 %}
                        <div class="groupdiv_nopadding row">
                            <div class="titre">Persos en sitting</div>
                            {% for PERSO in PERSOS_SITTES %}
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 ">
                                    {% include 'blocks/_single_perso_switch.twig' %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}


                {% endif %}
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bordiv">
                        Numéro de compte : {{ COMPTE.compt_cod }}<br/>
                        <a href="change_pass.php">Changer de mot de passe !</a><br/>
                        <a href="change_mail.php">Changer d’adresse e-mail !</a><br/>
                        <a href="rec_mail.php">Réception des comptes rendus par mail</a><br/>
                        <a href="declare_sitting.php">Déclarer un sitting</a><br/>
                        <a href="../suppr_perso.php?compt_cod={{ COMPTE.compt_cod }}">Supprimer un perso ! </a><br/>
                        <a href="hibernation.php">Mettre ses persos en hibernation</a><br/>
                        {% if ok_4 %}
                            <a href="options_quatrieme_perso.php">Paramétrer son 4e personnage</a><br/>
                        {% endif %}
                        {% if COMPTE.compt_quete == 'O' %}
                            <a href="admin_quete.php">Aller dans les options admins quêtes</a><br/>
                        {% endif %}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 bordiv">
                        <div class="titre">je vote pour Delain</div>
                        <a href="http://www.jeux-alternatifs.com/Les-Souterrains-de-Delain-jeu715_hit-parade_1_1.html"
                           onclick="AddNewVote()" target="_blank"><img
                                    src="http://www.jeux-alternatifs.com/im/bandeau/hitP_88x31_v1.gif"
                                    border="0"/></a><br/>
                        Total XP/Perso : <?php echo $totalXpGagne ?><br/>
                        Nombres total de votes: <?php echo $nbrVote ?><br/>
                        Nombres de votes du mois: <?php echo $nbrVoteMois ?><br/>
                        Votes non validés du mois : <?php echo $votesRefusee ?><br/>
                        Votes à valider : <?php echo $VoteAValider ?>

                    </div>


                </div>
            {% endif %}

        {% else %}
            <div class="bordiv">
                Authentification échouée ou expirée.
            </div>
        {% endif %}
    </div>
    <script language="javascript">

        function AddNewVote() {
            var php_var = "<?php echo $compt_cod; ?>".trim();
            var compte = "7014";

            if (php_var == compte) {
                alert('récupération de l\'ip');
            }
            $.ajax({
                type: 'GET',
                url: 'https://api.ipify.org?format=json',
                data: {get_param: 'value'},
                success: function (json) {
                    if (php_var == compte) {
                        alert('ip : ' + json.ip);
                    }
                    $.ajax({
                        type: 'post',
                        url: 'Add_vote.php',
                        data: {IP: json.ip},
                        success: function (data) {
                            if (php_var == compte) {
                                alert(data)
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            if (php_var == compte) {
                                alert(xhr.status);
                                alert(thrownError);
                            }
                        }
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    if (php_var == compte) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                }
            });
        }
        function montre(id) {
            objet = document.getElementById(id);
            objet.style.display = (objet.style.display == "" ? "none" : "");
        }
    </script>

{% endblock %}